body {
    padding: 0;
    align-content: center;
    margin-left: 297px;
    margin-right: 297px;
}

span {
    margin-left: 52%;
}

.centralizar {
    text-align: center;
    padding: 30px;
}

.espaco {
    margin-bottom: 34px;
}