/*---------------------------
------ESTILAÇÃO DAS TAGS-----
-----------------------------*/

body {
    margin: 0 auto;
    background-image: url(../img/fundo2.png);
}

p {
    text-align: justify;
    font-size: 24px;
}

label {
    text-align: justify;
    font-size: 24px;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    border: 3px solid;
    text-align: center;
}

thead tr {
    font-size: 30px;
}

th {
    border: 3px solid;
}

tr {
    border: 3px solid;
    font-size: 23px;
}

a {
    text-align: justify;
    font-size: 21px;
}

li {
    font-size: 22px;
}

input {
    width: 50%;
}

button {
    margin-top: 3%;
    width: 13%;
}

/*---------------------------
-----------CLASSES-----------
-----------------------------*/

.enviar {
    text-align: center;
    font-size: 16px;
}

.quest {
    display: flex;
    flex-direction: column;
}

.centralizar {
    text-align: center;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 2%;
}

.link {
    float: right;
    margin-top: 10px auto;
}

/*---------------------------
-------------ID'S------------
-----------------------------*/

#capa {
    text-align: center;
}

#fundo {
    background-image: url(src/fundo2.png);
}

#Logo {
    width: 100%;
    height: auto;
    max-width: 18vw;
    max-height: 9vw;
}

#Tabela {
    display: flex;
    justify-content: center;
}

@media (min-width:600px) {

    body {
        max-width: 61%;
    }
}

@media (max-width: 600px) {
    body {
        margin: 0 auto;
        background-image: url(../img/fundo2.png);
    }

    p {
        text-align: justify;
        font-size: 17px;
    }

    a {
        text-align: justify;
        font-size: 14px;
    }

    li {
        font-size: 15px;
    }

    label {
        text-align: justify;
        font-size: 17px;
    }

    .enviar {
        text-align: center;
        font-size: 9px;
    }

    thead tr {
        font-size: 23px;
    }

    tr {
        border: 3px solid;
        font-size: 16px;
    }
}