body {
    max-width: 61%;
    margin: 0 auto;
    background-image: url(src/fundo.png);

}


p {
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

.centralizar {
    text-align: center;
    padding: 30px;
}

.espaco {
    margin-top: 2%;
    margin-bottom: 2.8%;
    position: relative;
}

.link {
    float: right;

}

#capa {
    text-align: center;
}

#fundo {
    background-image: url(src/fundo2.png);
}