/*---------------------------
------ESTILAÇÃO DAS TAGS-----
-----------------------------*/
body {
    max-width: 61%;
    margin: 0 auto;
    background-image: url(src/fundo.png);

}

p {
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

/*---------------------------
-----------CLASSES-----------
-----------------------------*/

.centralizar {
    text-align: center;
    padding: 30px;
}

.espaco {
    display: flex;
    justify-content: space-between;
    padding: 1vw 0 1vw;
    text-align: center;
}

.link {
    float: right;
    margin: 3vh;
}

/*---------------------------
-------------ID'S------------
-----------------------------*/

#capa {
    text-align: center;
}

#fundo {
    background-image: url(src/fundo2.png);
}