<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UNES</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>

<body>

    <div class="espaco">
        <img src="../static/img/logo.png" alt="LOGO" id="Logo">

        <div class="link">
            <a href="/">HOME</a> |
            <a href="./quemSomos">Quem-Somos</a> |
            <a href="./contato">Contato</a> |
            <a href="./user">Usuários</a>
        </div>

    </div>

    {% block repetidos %}

    {% endblock %}

    <!-- RODAPÉ -->
    <div class="centralizar">
        <b>Todos os direitos reservados</b>
    </div>

</body>

</html>