{% extends "base.html" %}
{% block repetidos %}

<!--CONTATOS-->
<div>
    <h1>Entre contato</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>

<hr>

<!--EMAIL-->
<div>
    <form method="post" action="/contato">
        Seu Email: <br>
        <input type="text" name="email"><br>
        Assunto: <br>
        <input type="text" name="assunto"><br>
        Descrição: <br>
        <input type="text" name="descricao"><br>
        <button type="submit" value="enviar">Enviar</button>
    </form>
</div>

{% endblock %}