{% extends "base.html" %}
{% block repetidos %}

<!-- CORPO -->
<div id="capa">
    <img src="../static/img/capa.png" alt="capa">
</div>

<!-- TEXTO -->
<div>
    <h1>Sobre a universidade</h1>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, commodi! Nemo a sed recusandae,
        repudiandae enim laborum blanditiis, ipsa velit, sunt aspernatur voluptas doloribus quae distinctio magni
        error exercitationem quia. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, omnis sunt et
        culpa sequi placeat? Pariatur explicabo sunt asperiores consectetur quibusdam dolore, veritatis ipsa. Culpa
        optio ipsam deleniti voluptas sed! </p>

    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias optio dolorem rerum atque, impedit quasi
        temporibus numquam rem veniam et tenetur eveniet officia ullam deleniti eaque, alias necessitatibus,
        accusamus fugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit non, architecto
        reiciendis expedita ipsa aperiam cupiditate hic vero eaque libero voluptatibus repudiandae voluptate.
        Explicabo magnam officia harum, saepe accusantium suscipit!</p>
</div>

{% endblock %}