{% extends "base.html" %}
{% block repetidos %}

<!--APRESENTAÇÃO-->
<div>
    <h1>QUEM SOMOS</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat facilis recusandae rem ea. Aspernatur
        dignissimos unde, eaque laborum quas consectetur natus beatae reprehenderit, vel reiciendis asperiores
        illum! Sunt, ex? Est!</P>

    <h1>5 Motivos para estudar</h1>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem renomada</li>
        <li>Ótima localização</li>
    </ol>
</div>

<hr>

<!--OBJETIVOS-->
<div>
    <h1>Objetivos</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit debitis amet quasi consequatur
        eligendi dicta eos, aut aspernatur fugit, enim commodi incidunt inventore sapiente odio rem quia architecto
        quibusdam suscipit.</p>
</div>

<!--RODAPÉ-->
<div class="centralizar">
    <b>Todos os direitos reservados</b>
</div>
{% endblock %}